h1{
    font-size: 50px;
}

.name{
    color: #FF2178
}
body{
    font-family: 'Poppins', sans-serif; 
margin: 0;}
 
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%; 
}

.top {
     height: 550px;
}

.half-width img{
    width:100%;
   
  
   
}

section {
    height: 500px;
    }
    

.top {background-image: url("images/top-banner.png");
background-repeat: no-repeat;}

.relationship {color: #FF2178 }